# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets and keys
server/my-telegram-bot-project-431322-aa13ecf7fb96.json
src/config/googleSheets.js
